<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>  
 <form action="saveEmpReg" method="post">
 <table align="center">
   <tr>
    <td>First Name</td>
    <td><input type="text" name="ename"/></td>
   </tr>
   <tr>
    <td>email id </td>
    <td><input type="text" name="emailId"/></td>
   </tr>
     <tr>
   <tr>
    <td>Phone no </td>
    <td><input type="text" name="phone"/></td>
   </tr>
   <tr><td colspan="2" ><input type="submit" value="Register"/></td></tr>
 </table>
 </form>
</body>
</html>